<div class="home__container">
  <app-card
	gameCover="assets/assets/bt-1.jpg"
	gameLabel="Game One"
	gameType="Digital"
	gamePrice="R$ 200,00"
	></app-card>
	<app-card
	gameCover="assets/assets/bt-4.jpg"
	gameLabel="Exclusivo"
	gameType="Disc"
	gamePrice="R$ 200,00"
	></app-card>
	<app-card
	gameCover="assets/assets/bt-bad-company-2.jpg"
	gameLabel="Remake"
	gameType="Digital"
	gamePrice="R$ 199,00"
	></app-card>
	<app-card
	gameCover="assets/assets/ac-cover.jpg"
	gameLabel="Remake"
	gameType="Digital"
	gamePrice="R$ 200,00"
	></app-card>
	<app-card
	gameCover="assets/assets/bt-hardline.jpg"
	gameLabel="Exclusivo"
	gameType="Disc"
	gamePrice="R$ 200,00"
	></app-card>
	<app-card
	gameCover="assets/assets/bt-5.jpg"
	gameLabel="Game One"
	gameType="Digital"
	gamePrice="R$ 199,00"
	></app-card>

</div>

